form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 20px;
}

mat-form-field {
  width: 80%;
}

.save-btn{
  background-color: #027621;
  color: white !important;
  border-radius: 10px;
}
